.contact {
    padding: 10rem 0;
    background-color: $light;
    color: black;
    background-color: #212529;

    &--heading {
        margin-bottom: 2rem;
    }
}

.input-group-text {
    border: 0px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    border-top: 1px solid #ced4da;
    border-left: 1px solid #ced4da;

    background-color: white;
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    font-size: calc(1.285rem + 0.42vw);
    font-weight: 400;
    line-height: 1.5;
    color: #767c83;
    text-align: center;
    white-space: nowrap;
    border-radius: 0.25rem;
}
.custom-form-control {
    display: block;

    padding: 0.375rem 0.75rem;
    font-size: calc(1.285rem + 0.42vw);
    font-weight: 400;
    line-height: 1.5;
    color: #767c83;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-left-style: none;
    appearance: none;
    list-style: none;
}
.card {
    border-color: #c29f48;
    border-radius: 25px;
    background-color: #212529;
}

.card-header {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    color: white;
    background-color: #212529;
    border-bottom: 0px;
}
// input[type="file"] {
//     display: none;
// }
