.footer {
    background-color: $dark;

    @include media-breakpoint-up(lg) {
        padding-bottom: 4rem;
    }

    &--menu {
        margin: 0;
        padding: 0;
        
        ul {
            display: flex;
            flex-direction: row;
            list-style-type: none;
            padding: 0;

            li:not(:last-child) {
                margin: 0 2rem 1rem 0;
            }
    
            a {
                color: $light;
                text-decoration: none;
                transition: all .25s;
    
                &:hover {
                    color: $text-muted;
                }
            }
        }
    }

    &--social {
        
        @include media-breakpoint-up(md) {
            margin-top: 0;
            text-align: right;
        }

        a {
            display: inline-block;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            background-color: rgb(52, 52, 52);
            color: $gold-color;
            text-align: center;
            line-height: 4rem;
            transition: all 0.25s;
            
            &:not(:last-child) {
                margin-right: 1rem;
            }

            &:hover {
                background-color: $gold-color;
                color: $white;
            }
        }
    }

    &--line {
        margin: 1.5rem 0;
        background-color: $light;
        opacity: 0.1;
    }

    &--bottom {
        text-align: center;
        color: $text-muted;
        margin-top: 1.5rem;
    }
}