.header {
    position: relative;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    background-color: $dark;
    border-bottom: 1px solid $gold-color;

    &--logo {
        max-width: 8rem;
        height: auto;
        margin-right: 2rem;

        @include media-breakpoint-down(lg) {
            height: auto;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &--menu-toggle-wrapper {
        text-align: right;

        i {
            margin-top: 1rem;
            font-size: 3rem;
        }

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }

    &--nav {
        display: none;
        margin-top: 1.6rem;

        @include media-breakpoint-up(lg) {
            display: flex;
        }

        ul {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin: 0;
            padding: 0;
            list-style: none;

            @include media-breakpoint-up(lg) {
                flex-direction: row;
            }

            li {
                position: relative;
                padding: 1rem;

                ul {
                    position: absolute;
                    top: 0;
                    left: -100%;
                    background-color: #212529;
                    border-bottom: 1px solid $gold-color;
                    
                    margin: 0;
                    display: none;

                    @include media-breakpoint-up(lg) {
                        transform: translateX(-50%);
                        top: 100%;
                        left: 50%;
                        padding: 0 4rem;
                    }

                    li {
                        padding: 1rem 0;
                    }
                }

                &:hover ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;

                    @include media-breakpoint-up(lg) {
                        display: block;
                    }
                }
            }

            li:not(:last-child) {
                margin-bottom: 1rem;

                @include media-breakpoint-up(lg) {
                    margin-bottom: 0;
                }
            }

            a {
                font-size: 2rem;
                text-decoration: none;
                color: $gold-color;
                transition: 0.2s;

                &:hover {
                    color: $gold-color;
                }
            }
        }

        ul.nav-logged-in, .nav-logged-out {

            li {
                height: 100%;
                background-color: $gold-color;

                &:hover {
                    background-color:$background-dark ;
                    a {
                        color: $gold-color;
                    }
                }

                a {
                    color: $background-dark;
                }
            }
        }
    }

    .btn-gold {
        background-color: $gold-color;
    }
}

.menu-open header nav {
    display: block;
}

.icons-menu {
    padding-left: 1rem;
}