.header {
    position: relative;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    background-color: $dark;
    border-bottom: 1px solid $gold-color;
    height: 6rem;
    
        @include media-breakpoint-up(lg) {
            height: 10rem;
        }

    &--logo {
        max-width: 8rem;
        height: auto;
        margin-right: 2rem;
        z-index: 2;

        @include media-breakpoint-down(lg) {
            height: auto;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &--menu-toggle-wrapper {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: right;
        top: 0;
        right: 10%;
        margin-top: 1rem;

        .hamburger-menu {
            width: 33px;
            height: 26px;
            display: flex;
            cursor: pointer;
            flex-direction: column;
            justify-content: space-between;
            margin-top: 1rem;


            span {
                width: 100%;
                height: 3px;
                background-color: $text;
                transform-origin: left;
                transition: all 1s ease;
            }
        }

        i {
            margin-top: 1rem;
            font-size: 3rem;
        }

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }

    &--nav {
        position: absolute;
        width: 100%;
        top: 100%;
        right: 0;
        display: none;
        background-color: $background-dark;
        padding: 1rem 0 0;
        border-bottom: 1px solid $gold-color;
        text-align: end;

        @include media-breakpoint-up(lg) {
            display: flex;
            position: static;
            border-bottom: none;
        }

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2rem;
            margin-top: 4rem;
            margin-bottom: 0;
            padding: 0;
            list-style: none;
            text-align: center;

            i {
                display: none;
            }

            @include media-breakpoint-up(lg) {
                flex-direction: row;
                margin: 0;

                li:hover i{
                    transition: 0.5s;
                    transform: rotateX(180deg);
                }

                i {
                    display: inline-block;
                }
            }

            li {
                position: relative;
                padding: 1rem;

                ul {
                    background-color: #212529;
                    margin-top: 0.5rem;  

                    @include media-breakpoint-up(lg) {
                        position: absolute;
                        transform: translateX(-50%);
                        top: 100%;
                        left: 50%;
                        margin: 0;
                        padding: 0 4rem;
                        border-bottom: 1px solid $gold-color;
                        display: none;
                    }

                    li {
                        padding: 1rem 0;
                    }
                }

                &:hover ul {
                    @include media-breakpoint-up(lg) {
                        display: block;
                        flex-direction: column;
                        justify-content: flex-end;
                    }
                }
            }

            li {
                @include media-breakpoint-up(lg) {
                    margin-bottom: 0;
                }
            }

            a {
                font-size: 2rem;
                text-decoration: none;
                color: $gold-color;
                transition: 0.2s;

                &:hover {
                    color: $gold-color;
                }
            }
        }

        .menu-logged_out-container {
            margin-bottom: 1.5rem;

            li {
                margin-bottom: 1rem;
            }

            @include media-breakpoint-up(lg) {
                margin-left: 1rem;
                margin-bottom: 0;
                
                li {
                    margin-bottom: 0;
                }
            }
        }

        ul.nav-logged-in, .nav-logged-out {
            margin-top: 0;
            i {
                display: inline-block;
            }

            li {
                margin-bottom: 1.5rem;
            }

            @include media-breakpoint-up(lg) {

                li:hover i{
                    transition: none;
                    transform: none;
                }
            }

            li:nth-last-child(-n+2) {
                background-color: $gold-color;
                border: $gold-color 0.5px solid;
                margin-right: 1rem;
                border-radius: 1rem;

                &:hover {
                    background-color:$background-dark ;
                    a {
                        color: $gold-color;
                    }
                }

                a {
                    color: $background-dark;
                }
            }
        }
    }

    .btn-gold {
        background-color: $gold-color;
    }
}

.menu-open {
    .hamburger-menu{
        span {
            &:first-child {
                background-color: $text;
                transform: rotate(45deg);
                }
            &:nth-child(2) {
                opacity: 0;
            }
            &:last-child {
                background-color: $text;
                transform: rotate(-45deg);
            }
        }
    }
}

.menu-open header nav {
    display: block;
}

.icons-menu {
    padding-left: 1rem;

}