.header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    background-color: $dark;
    // box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgb(238, 213, 71);

    &--logo {
        max-width: 15rem;
        height: auto;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &--menu-toggle-wrapper {
        text-align: right;

        i {
            margin-top: 1rem;
            font-size: 3rem;
        }

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }

    &--nav {
        display: none;

        @include media-breakpoint-up(lg) {
            display: block;
        }

        ul {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin: 2rem 0 0;
            padding: 0;
            list-style: none;

            @include media-breakpoint-up(lg) {
                flex-direction: row;
                justify-content: space-around;
                margin-top: 4rem;
                margin-bottom: 2rem;
            }


            li:not(:last-child) {
                margin-bottom: 1rem;

                @include media-breakpoint-up(lg) {
                    margin-bottom: 0;
                }
            }

            a {
                font-size: 2rem;
                text-decoration: none;
                color: rgb(238, 213, 71);
                transition: 0.2s;

                &:hover {
                    color: rgb(255, 237, 132);
                }
            }
        }
    }
}

.menu-open header nav {
    display: block;
}