.logged-in--start {

    position: relative;
    padding-top: 7rem;
    height: 40vh;
    display: flex;
    align-items: center;
    background: center center/cover no-repeat;
    text-align: center;

    h1 {
        text-align: center;
    }

}

.logged-in--data {

    .container {
        border-bottom: $gold-color solid 0.5px;
        padding-bottom: 1rem;
    }

    h1 {
        text-align: center;
        padding: 2rem 0;
    }

    h2 {
        margin: 2rem auto;
        text-align: center;
    }

    .wrapper {
        width: 70%;
        margin: 4rem auto;
        display: flex;
        justify-content: space-between;

        form {
            width: 45%;
            display: flex;
            flex-direction: column;
            align-items: center;

            div {
                width: 100%;
                margin: 0.5rem 0;
                display: flex;
                justify-content: space-between;

                p {
                    margin: 0;
                }
            }

            button {
                text-align: center;
                padding: 1rem 2rem;
                margin-top: 2rem;
                background-color: rgb(29, 29, 29);
                border: $gold-color 1px solid;
                border-radius: 1rem;
                color: $text;

            }

            input {
                background-color: rgb(29, 29, 29);
                border: none;
                text-align: right;
                color: $text;

                &:focus {
                    background-color: black;
                }
            }
        }

        &>div {
            width: 30%;
            background-color: $gold-color;
            background-position: center center;
            // background-size: cover;
            background-repeat: no-repeat;
        }

    }

    &>p {
        padding-top: 2rem;
        text-align: center;

        &.data-change {
            padding-top: 0;
            color: green;
            font-style: italic;
        }
    }

}

.logged-in-courses .container {
    border-bottom: $gold-color solid 0.5px;
    padding-bottom: 1rem;

    &>p {
        text-align: center;
        font-style: italic;
    }


    .clean-visited-form button,
    .clean-saved-form button {
        display: block;
        margin: 0 0 0 auto;
        background-color: transparent;
        border: none;
        color: $text;
        font-style: italic;
    }

    .logged-in-courses--box {
        flex-wrap: wrap;
        gap: 4%;
        row-gap: 2rem;


        &__item {
            display: flex;
            flex-basis: 48%;
            gap: 1.5rem;
            flex-direction: column;
            // align-items: center;

            div.logged-in-courses--img {
                display: flex;
                gap: 4%;
                align-items: center;

                &>img {
                    width: 20%;
                }
            }
        }


    }
}