.login{
    padding: 4rem 0;
    // background-color: rgb(255, 255, 255);
    // color: rgb(0, 0, 0);

    &-left {
        text-align: center;
    }

    &--heading {
        padding-bottom: 4rem;
    }

    &-form {
        padding: 4rem 2rem;
    }

    &-left-box {
        position: relative;
        height: 70vh;
        display: flex;
        align-items: center;
        background: center center/cover no-repeat;
        text-align: center;
        background-size: contain;
    }

    &-right-box {
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        input {
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            padding: 0.375rem 0.75rem;
        }

        .login-submit {

            .button {
                width: 50%;
                background-color:darkgoldenrod;
                color: #000;
                border: 1px solid #000;

                &:hover {
                    background-color: rgba(209, 154, 15, 0.966);
                }
            }
        }
    }

    &-heading {
        &--heading {
            text-align: center;
            padding: 8rem 0;
        }
    }
}