.logged-in--start {

    position: relative;
    padding-top: 7rem;
    height: 40vh;
    display: flex;
    align-items: center;
    background: center center/cover no-repeat;
    text-align: center;

    h1 {
        text-align: center;
    }

}

.logged-in--data {

    h2 {
        margin: 2rem auto;
        text-align: center;
    }

    .container {
        border-bottom: $gold-color solid 0.5px;
        padding-bottom: 1rem;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;

        flex- &.form-data {
            // width: 80%;
            padding-right: 10%;
        }

        &.form-password {
            margin-left: 10%;
            height: 100%;
            border: $gold-color solid 0.5px;

        }

        div {
            width: 100%;
            margin: 0.5rem 0;
            display: flex;
            justify-content: space-between;

            p {
                margin: 0;
            }
        }


        button {
            text-align: center;
            padding: 1rem 2rem;
            margin-top: 2rem;
            background-color: rgb(29, 29, 29);
            border: $gold-color 1px solid;
            border-radius: 1rem;
            color: $text;
            // flex-grow: 1;
            // height: 2rem;
            flex-basis: auto;

        }

        input {
            background-color: rgb(29, 29, 29);
            border: none;
            text-align: right;
            color: $text;

            &:focus {
                background-color: black;
            }
        }




    }

    &__flex {
        flex-grow: 1;
    }

    &__joined p {
        // padding-top: 2rem;
        text-align: center;

        &.data-change {
            &--success {
                color: green;
                font-style: italic;
            }

            &--error {
                color: red;
                font-style: italic;
            }
        }
    }

}

.border-left {
    border-left: $gold-color solid 1px;
}

.logged-in-courses .container {
    padding-bottom: 1rem;

    &>p {
        text-align: center;
        font-style: italic;
    }


    .clean-visited-form button,
    .clean-saved-form button {
        display: block;
        margin: 0 0 0 auto;
        background-color: transparent;
        border: none;
        color: $text;
        font-style: italic;
    }



    .logged-in-saved-courses {
        flex-wrap: wrap;
        gap: 4%;
        row-gap: 2rem;


        &__item {
            display: flex;
            flex-basis: 48%;
            gap: 1.5rem;
            flex-direction: column;
            // align-items: center;

            &--img {
                display: flex;
                gap: 4%;
                align-items: center;

                &>img {
                    width: 20%;
                }
            }
        }

        &--pagination {
            margin-top: 2rem;
        }
    }

    .logged-in-visited-courses {
        flex-direction: column;
        gap: 2rem;
        justify-content: center;

        h3 {
            text-align: center;
        }

        &__item {
            display: flex;
            align-items: center;
            border-bottom: black solid 1px;
            justify-content: space-between;

            &--img {
                height: 100%;
                width: 45%;
            }
        }
    }
}