// .offer-filter .container,
// .offer-display .container {
//     margin: 0 1rem;
// }

.offer-filter {
    h2 {
        margin: 5rem 0;
    }

    .row {
        // padding-bottom: 1rem;

        form {
            margin-bottom: 3rem;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            // 
            color: black;
            gap: 3rem;

            &>div {
                flex-grow: 1;
                text-align: center;
            }

            @include media-breakpoint-up(sm) {
                margin: 0 2rem 3rem;
                justify-content: space-between;
                // align-items: center;
                // flex-direction: row;

            }

            @include media-breakpoint-up(md) {
                margin: 0 2rem 3rem;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;

            }

            @include media-breakpoint-up(lg) {
                margin: 0 auto 3rem;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;

            }

        }
    }
}

.offer-display {
    .container {
        padding: 0 2rem;
    }

    &--item {
        margin: 0 2rem 4rem;
        padding: 2rem;
        border: $gold-color solid 2px;
        border-radius: 2rem;
        gap: 3rem;

        h4 {
            margin-bottom: 1rem;
        }

        div.img {
            // width: 50rem;
            // flex-basis: 50%;
            flex-grow: 1;
            height: auto;
            background-position: center center;
            background-size: cover;

        }

        div.desc {
            flex-basis: 60%;
        }



        div.buttons {
            justify-content: flex-end;
            gap: 3rem;
        }

        a {
            display: inline;
            // margin: 1rem;
        }
    }

}

.thumnail {
    width: 30%;
}