.offer-filter {
    h2 {
        margin: 5rem 0;
    }

    .row {

        form {
            margin-bottom: 3rem;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: 3rem;
            color: black;

            &>div {
                flex-grow: 1;
                text-align: center;
            }

            @include media-breakpoint-up(sm) {
                margin: 0 2rem 3rem;
                justify-content: space-between;

            }

            @include media-breakpoint-up(md) {
                margin: 0 2rem 3rem;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

            }

            @include media-breakpoint-up(lg) {
                margin: 0 auto 3rem;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

            }

        }
    }
}

.offer-display {
    .container {
        padding: 0 2rem;
    }

    &--item {
        margin: 0 2rem 4rem;
        padding: 1.5rem;
        border: $gold-color solid 2px;
        border-radius: 2rem;
        gap: 3rem;
        font-size: 1.2rem;

        h4 {
            margin-bottom: 1rem;
        }

        @include media-breakpoint-up(sm) {
            padding: 2rem;
            font-size: var(--bs-body-font-size);
        }

        div.img {
            width: 40%;
            height: 8rem;
            background-position: center center;
            background-size: cover;

            @include media-breakpoint-up(sm) {
                width: 30%;
            }

            @include media-breakpoint-up(md) {
                width: 20%;
            }

            @include media-breakpoint-up(lg) {
                height: 10rem;
            }

        }




        div.buttons {
            justify-content: space-between;


            @include media-breakpoint-up(md) {
                justify-content: flex-end;
                gap: 3rem;
            }

            .btn-gold-secondary {
                z-index: 5;
                padding: 1rem 0.5rem;

                @include media-breakpoint-up(sm) {
                    padding: 1rem 2rem;
                }
            }

            .btn-gold-primary {
                z-index: 5;
                padding: 1rem 0.5rem;

                @include media-breakpoint-up(sm) {
                    padding: 1rem 2rem;
                }
            }

        }

        a {
            display: inline;
        }

        .form-slider {
            transform: translateX(0);
            transition: 0.3s;


            @include media-breakpoint-up(md) {
                transform: translateX(23%);
            }

            .btn-gold-secondary {
                z-index: 5;
            }


            span {
                display: inline-block;
                z-index: 3;
                transform: translateX(-170%);
                transition: 0.2s;
            }

            &:hover {
                transform: translateX(0);

                & span {
                    transform: translateX(0);
                }
            }

            button {
                border: none;
                background-color: transparent;
                vertical-align: baseline;
                font-size: 1.2rem;
                color: red;

            }

            div.btn-gold-secondary {
                cursor: default;

                &:hover {
                    transform: scale(1);
                }

            }

        }


    }

}

.save-button {
    i {
        transition: 0.3s;
    }

    &:hover i {
        transform: rotate(360deg);
    }
}