.quote {
    background-color: $primary;
    color: $light;
    display: flex;
    align-items: center;
    height: auto;
    padding: 8rem 0 8rem;
    
    @include media-breakpoint-up(lg) {
        padding: 8rem 0 12rem;
    }

    &--icon {
        position: relative;
        top: 3rem;
        font-size: 4rem;
        opacity: 0.3;
        
        @include media-breakpoint-up(lg) {
            font-size: 8rem;
        }
    }
    
    &--content {
        font-size: 3rem;
        padding-left: 2rem;
        font-style: italic;
        
        @include media-breakpoint-up(lg) {
            font-size: 4rem;
            padding-left: 5rem;
        }
    }
    
    &--signature {
        font-size: 2rem;
        padding-left: 2rem;
        color: $dark;
        
        @include media-breakpoint-up(lg) {
            padding-left: 5rem;
        }
    }
}