.news-single {
    padding: 4rem;

    div.img {
        width: 30%;
        height: 8rem;
        background-position: center center;
        background-size: cover;

        @include media-breakpoint-up(md) {
            width: 20%;
        }

        @include media-breakpoint-up(lg) {
            height: 10rem;
        }

    }


    .form-slider {
        transform: translateX(0);
        transition: 0.3s;

        @include media-breakpoint-up(md) {
            transform: translateX(29%);
        }

        .btn-gold-secondary {
            z-index: 5;
        }

        span {
            display: inline-block;
            z-index: 3;
            transform: translateX(-170%);
            transition: 0.2s;
        }

        &:hover {
            transform: translateX(0);

            & span {
                transform: translateX(0);
            }
        }

        button {
            color: red;
            font-size: 1.2rem;
            vertical-align: baseline;
            background-color: transparent;
            border: none;

        }
    }

    div.btn-gold-secondary {
        cursor: default;

        &:hover {
            transform: scale(1);
        }
    }


    img {
        width: 100%;
        margin-bottom: 3rem;
    }

    .shortcut>* {
        text-align: center;
    }

    .teacher-col {
        border-left: 2px $gold-color solid;
    }
}