.news-single {
    padding: 4rem;


    .form-slider {
        transform: translateX(15%);
        transition: 0.3s;

        &:hover {
            transform: translateX(0);

            & span {
                display: inline;
            }
        }

        button {
            color: red;
            font-size: 1.2rem;
            vertical-align: baseline;
            background-color: transparent;
            border: none;

            span {
                display: none;
            }
        }
    }

    div.btn-gold-secondary {

        &:hover {
            transform: scale(1);
        }
    }


    img {
        width: 100%;
        margin-bottom: 3rem;
    }

    .shortcut>* {
        text-align: center;
    }

}