.start {
    position: relative;
    // margin-top: 7rem;
    height: 70vh;
    display: flex;
    align-items: center;
    // background-color: white;
    background-size: cover;
    text-align: center;

    @include media-breakpoint-up(lg) {
        text-align: left;
    }

    .container {
        position: relative;
        z-index: 1;
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#000, 0.3);
    }

    &--heading {
        color: $light;
        margin-bottom: 3rem;
        margin-top: 10rem;
    }

    &--description {
        color: $white;
        // margin-bottom: 3rem;
        text-align: right;
    }

    a {
        background-color: $gold-color;
        position: relative;
        top: 50%;
        left: 3rem;
        transform: translateY(-50%);
    }

    &--breadcrumbs {
        a {
            color: $white;
            text-decoration: none;
        }

        span {
            color: darken($light, 15);
        }

        i {
            position: relative;
            top: -1px;
            color: $white;
            font-size: 1rem;
            margin: 0 1rem;
        }
    }

    &__subpage {
        height: 25rem;

        .start--heading {
            margin-bottom: 0;
        }
    }

}

.forms .container {
    border-bottom: $gold-color solid 0.5px;
    padding-bottom: 1rem;
}


.languages .container {
    border-bottom: $gold-color solid 0.5px;
    padding-bottom: 1rem;


    .languages--box {
        flex-wrap: wrap;
        gap: 4%;
        row-gap: 2rem;


        &__item {
            display: flex;
            flex-basis: 48%;
            gap: 1.5rem;
            flex-direction: column;
            // align-items: center;

            div.languages--img {
                display: flex;
                gap: 4%;
                align-items: center;

                &>img {
                    width: 20%;
                }
            }
        }
    }
}


.levels .container {

    .levels--box {
        flex-wrap: wrap;
        // border: 0.5px solid #ffe13a;
        border: 0.5px solid $gold-color;

        &__item {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            align-items: center;
            flex-basis: calc(100% / 3);

            text-align: center;
            padding: 2rem;

            &:nth-child(2n) {
                background-color: $gold-color;
                color: $dark;
            }


        }
    }
}

.more {
    margin-top: 4rem;
    padding-bottom: 2rem;
    background-color: $gold-color;
    color: $dark;

    .wrapper {
        width: 70%;
        padding-bottom: 2rem;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;

        a {
            display: inline-block;
            padding: 2rem 3rem;
            text-transform: uppercase;

            &.first {
                border: $dark solid 2px;
                color: $dark;

                &:hover {
                    background-color: $dark;
                    color: $gold-color;
                }
            }

            &.second {
                background-color: $dark;
                color: $gold-color;
            }
        }
    }

}