.start {
    background-size: cover;
    background-size: cover;

    &--slogan {
        position: relative;
        margin-top: 8rem;
        padding: 3rem 3rem;
        // border: 2px $gold-color solid;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        background-color: $gold-color;
        color: $background-dark;
        box-shadow: 5px -5px 10px black;


        .logo-name {
            font-family: 'Cinzel Decorative';
            font-weight: 700;
        }

        &-png {
            bottom: 0;
            left: 100%;
            height: 95%;
            transform: translateX(-48%);
        }

        .catch {
            text-transform: uppercase;
            font-size: 4rem;

            p {
                font-size: 2.3rem;

                @include media-breakpoint-up(lg) {
                    font-size: 3rem;
                }

                span {
                    font-size: 1.8rem;

                    @include media-breakpoint-up(lg) {
                        font-size: 2.5rem;
                    }
                }
            }
        }

        &-logo {
            width: 30%;
        }

        &--heading {
            font-family: 'Cinzel Decorative';
            font-weight: 700;
        }



        &--description {
            color: $white;
            text-align: center;

            @include media-breakpoint-up(lg) {
                text-align: right;
            }
        }
    }





}

.forms .container {

    border-bottom: $gold-color solid 0.5px;
    padding-bottom: 3rem;

    .form>h3 {
        padding-bottom: 1rem;
        width: 40%;
        margin-right: auto;
        margin-left: auto;
        border-bottom: $gold-color solid 1px;



        @include media-breakpoint-up(md) {
            width: 50%;
        }

        @include media-breakpoint-up(xl) {
            width: 40%;
        }
    }


}


.languages .container {
    border-bottom: $gold-color solid 0.5px;
    padding-bottom: 1rem;

    .card {
        background-color: $gold-color;
        color: $btn-dark;
        transition: 0.2s;

        @include media-breakpoint-up(lg) {
            &:hover {
                transform: scale(1.04);
            }
        }

    }

}


.levels {


    &--item {
        text-align: center;
        padding: 2rem;

        &:nth-child(2n+1) {
            background-color: $gold-color;
            color: $dark;
        }

        @include media-breakpoint-up(md) {
            &:nth-child(n) {
                background-color: transparent;
                color: $text;
            }

            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(6) {
                background-color: $gold-color;
                color: $dark;
            }
        }

        @include media-breakpoint-up(lg) {
            &:nth-child(n) {
                background-color: transparent;
                color: $text;
            }

            &:nth-child(2n) {
                background-color: $gold-color;
                color: $dark;
            }
        }


    }

}

.more {
    margin-top: 4rem;
    padding-bottom: 2rem;
    background-color: $gold-color;
    color: $dark;

    h2 {
        font-weight: 600;
    }

    .btn-gold-primary {
        border-color: $background-dark;

        &:hover {
            background-color: $background-dark;
        }
    }

    .btn-gold-secondary {
        background-color: $background-dark;
    }
}