.start {
    position: relative;
    padding-top: 7rem;
    height: 100vh;
    display: flex;
    align-items: center;
    background: url('../images/hero.jpg') center center/cover no-repeat; // https://unsplash.com/photos/eYwn81sPkJ8
    text-align: center;

    @include media-breakpoint-up(lg) {
        text-align: left;
    }

    .container {
        position: relative;
        z-index: 1;
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#000, 0.3);
    }

    &--heading {
        color: $light;
        margin-bottom: 3rem;
    }

    &--description {
        color: $white;
        margin-bottom: 3rem;
    }

    &--breadcrumbs {
        a {
            color: $white;
            text-decoration: none;
        }

        span {
            color: darken($light, 15);
        }
        
        i {
            position: relative;
            top: -1px;
            color: $white;
            font-size: 1rem;
            margin: 0 1rem;
        }
    }

    &__subpage {
        height: 25rem;

        .start--heading {
            margin-bottom: 0;
        }
    }
    
}