.teachers {
    padding: 12rem 0 10rem;

    &--heading {
        text-align: center;
        margin-bottom: 2rem;
    }

    &--description {
        color: $text;
        text-align: center;
    }

    &-list {

        .show-lectors-list {
            display: flex;
            justify-content: center;
        }

        .show-lectors-desc {
            text-align: center;
            margin-bottom: 2rem;
            border-bottom: 1px solid $gold-color;

            a {
                margin-bottom: 2rem;
            }

            @include media-breakpoint-up(md) {
                text-align: justify;
                margin-top: 4rem;
            }

            @include media-breakpoint-up(xl) {
                border-bottom: none;
            }
        }
        
        img {
            margin-bottom: 3rem;
            height: 250px;
            width: 250px;
            border-radius: 50%;
            object-fit: cover;

            @include media-breakpoint-up(lg) {
                height: 300px;
                width: 300px;
            }
        }
    }
}