.testimonials {
    padding: 12rem 0 12rem;
    background-color: rgb(243, 243, 243);
    color: #000;

    &--slider-item-person {
        display: flex;
        align-items: center;
        // margin-bottom: 2rem;

        div:first-child {
            margin-right: 1rem;
            width: 6rem;
            height: 6rem;
            background-color: $light;
            border-radius: 50%;
            text-align: center;
            line-height: 6rem;
        
        img {
            width: 6rem;
            height: 6rem;
            background-color: $light;
            border-radius: 50%;
        }
        
        }

        span {
            font-size: 1.8rem;
            display: block;
        }

        strong {
            font-size: 1.2rem;
        }
    }

    &--slider-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        color: $text-muted;
    }

    &--user-opinions {
        padding-right: 4rem;
    }
}