@import "variables";
@import "bootstrap";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "@fortawesome/fontawesome-free/scss/regular.scss";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import '/node_modules/slick-carousel/slick/slick.scss';
@import '/node_modules/aos/src/sass/aos.scss';

body>* {
    font-family: 'Saira Semi Condensed', sans-serif;
}

.btn-outline-primary {
    background-color: rgba($white, .1);
    color: $white;
}

.page-numbers {
    @extend .page-link;
}

body {
    background-color: $dark;
    color: rgb(233, 233, 233);
}

h1,
h2 {
    text-transform: uppercase;
    text-align: center;
}

a {
    text-decoration: none;
}


.btn-gold-primary {
    display: block;
    padding: 1rem 2rem;
    border: $btn-dark 2px solid;
    border-radius: 1rem;
    background-color: $gold-color;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: $btn-dark;
    transition: 0.2s;

    &:hover {
        border: $gold-color 2px solid;
        transform: scale(1.05);
        background-color: $btn-dark;
        color: $gold-color;
    }
}

.btn-gold-secondary {
    display: block;
    padding: 1rem 2rem;
    border: $gold-color 2px solid;
    border-radius: 1rem;
    background-color: $btn-dark;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: $gold-color;
    transition: 0.2s;

    &:hover {
        transform: scale(1.05);
        color: $gold-color;
    }

}


.gold-border-left {
    border-left: $gold-color solid 1px;
}

.gold-border-right {
    border-right: $gold-color solid 1px;
}

.gold-border-top {
    border-top: $gold-color solid 1px;
}

.gold-border-bottom {
    border-bottom: $gold-color solid 1px;
}

.pagination {

    text-transform: uppercase;

    &>*:nth-child(2n):not(:nth-last-child(1)) {
        border-left: none;
        border-right: none;

    }

    &>a:first-child,
    &>span:first-child {
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }

    &>a:last-child,
    &>span:last-child {
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

    a,
    span {
        border: $gold-color solid 2px;
        background-color: $btn-dark;
        font-size: var(--bs-body-font-size);
        color: $gold-color;
        transition: 0.2s;
    }

    span:hover {
        border: $gold-color solid 2px;
        background-color: $btn-dark;
        color: $gold-color;
    }

    a:hover {
        border: $gold-color solid 2px;
        background-color: black;
        color: $gold-color;
    }
}

@import "header";
@import "start";
@import "functions";
@import "testimonials";
@import "footer";
@import "about-content";
@import "news";
@import "news-single";
@import "contact";
@import "functions-page";
@import "about-us";
@import "search";
@import "offers";
@import "teachers";
@import "logged-in-account";
@import "single-oferta";
@import "login";
@import "logout";