.form-search {
    margin-top: 2rem;
    padding: 1rem 0;

    @include media-breakpoint-down(md) { 
        input {
            width: 80px;
        }
    }

    @include media-breakpoint-up(md) { 
        input {
            width: 150px;
        }
     }
}

.search-heading {
    padding: 8rem 0 6rem;

    &--heading {
        text-align: center;
        margin-bottom: 2rem;

        .search-for {
            color: $gold-color;
        }
    }
}

.search {

    &--heading {
        text-align: center;
    }
}